body {
  font-family: Arial;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

a:hover {
  color: gray;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs {
  padding: 1rem 1rem 0 1rem;
  background: rgb(44,130,205);
  background: linear-gradient(0deg, rgba(44,130,205,1) 0%, rgba(41,118,186,1) 100%);
}

.tabs ul {
  align-items: flex-end;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-start;
}

.tabs li {
  display: block;
}

.tabs a {
  height: 12px;
  align-items: center;
  background-color: #95c0e2;
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding: .5em 1em;
  margin: 0 0 2px 2px;
  vertical-align: top;
}

.tabs li.is-active a {
  height: 18px;
  color: #000;
  background-color: #fff;
  margin-bottom: 0;
}

.tab-content {
  display: none;
  padding: .2rem 0;
  border: 3px solid #dadada;
  border-top: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.card {
  padding: 0.5rem;
  display: flex;
  /* In case pictures are bigger */
  /* flex-direction: column; */ 
}

.media-left {
  margin-right: 1rem;
}

.image {
  margin: 0;
  padding: 0;
  width: 120px;
  height: 90px;
  border: 3px solid #dadada;
  margin-bottom: 1rem;
}

.media-right div {
  margin-bottom: .5rem;
}

.card-date {
  font-size: .6em;
}

.card-title {
  font-size: 1em;
  font-weight: 600;
  color: #2976ba;
}

.card-text {
  font-size: .8em;
}

.card-more {
  font-weight: 600;
  font-size: .8em;
}

[class^=arr-] {
  border:       solid #2976ba;
  border-width: 0 .2em .2em 0;
  display:      inline-block;
  padding:      .2rem;
  margin-right: .5rem;
}

.arr-right {
  transform: rotate(-45deg);
}

.news-list-item{
  border-bottom: 1px solid #dadada;
}

.all-news-link {
  padding: 1rem;
  text-align: right;
}

@media(min-width: 468px) {
  .container {
    width: 468px;
    margin: 0 auto;
  }

  .card {
    padding: 1rem 1.5rem;
    flex-direction: row;
  }

  .card-date {
    font-size: .7em;
  }

  .card-title {
    font-size: 1.2em;
  }

  .card-text {
    font-size: .8em;
  }

  .card-more {
    font-size: .8em;
  }
}